
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>This is my Calorie Counter</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>


  </head>
  <body ng-app="calorific">

    <ion-pane>
      <ion-header-bar align-title = "center" class="bar-royal">
       <h1 class="title"><b>Caloreasy</b></h1>		<!--Title of Mobile App-->
      </ion-header-bar>
      <ion-content>
   <h3>Total Calories</h3>
 <label class="item item-input">	<!--input label for calorie total-->   

   <input type="number" ng-model="count12 = count + count1 + count2 + count3 + count4 + count5 + count6 + count7 + count8 + count9 + count10 + count11" />

  		<button class="button button-small ion-loop button-balanced" align-title="left"  ng-model="count13 = 0" >
        Reset
        </button>
		</label>


  
   <div class ="item item-avatar">								
   <img src = "img/apple.jpg">
   <h2> Apple</h2>
   <p>Apples contain 53 calories on average</p>		<!--items contained within div:label,image,button and count number-->
    	<div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left"  ng-click="count = count + 53">
            Enter
   </button>
	</div>
    </div>

 <div class ="item item-avatar">
   <img src = "img/branflakes.jpg">
   <h2>Bran Flakes</h2>
   <p>Bran Flakes Contain 90 calories</p>				<!--items contained within div:label,image,button and count number-->
     <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count1" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count1 = count1 + 90">
            Enter
   </button>
        </div>

   </div>

 <div class ="item item-avatar">
   <img src = "img/carrots.jpg">
   <h2>Carrots</h2>
   <p>Each carrot contains 1 calorie </p>				<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count2" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count2 = count2 + 1">
            Enter
   </button>
        </div>

  </div>

 <div class ="item item-avatar">
   <img src = "img/cheeseburger.jpg">
   <h2>Cheeseburger</h2>
   <p>One cheeseburger contains 300 calories </p>			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count3" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count3 = count3 + 300">
            Enter
   </button>
        </div>

  </div>

 <div class ="item item-avatar">
   <img src = "img/chips.jpg">
   <h2>Chips</h2>
   <p>An adult portion contains 500 calories</p>			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count4" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count4 = count4 + 300">
            Enter
   </button>
        </div>

  </div>

 <div class ="item item-avatar">
   <img src = "img/chocolate.jpg">
   <h2>Chocolate </h2>
   <p>One chocolate bar contains 200 calories</p> 			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count5" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count5 = count5 + 200">
            Enter
   </button>
        </div>

	
 </div>

 <div class ="item item-avatar">
   <img src = "img/doritos.jpg">
   <h2>Doritos</h2>
   <p>One ounce of Doritos contains 150 calories</p>			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count6" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count6 = count6 + 150">
            Enter
   </button>
        </div>

  </div>

 <div class ="item item-avatar">
   <img src = "img/irishbreakfast.jpg">
   <h2>Full Irish Breakfast</h2>
   <p>The Irish Breakfast contains 1100 calories </p>			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count7" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count7 = count7 + 1100">
            Enter
   </button>
        </div>

 </div>

 <div class ="item item-avatar">
   <img src = "img/lasagne.jpg">
   <h2>Lasagne</h2>
   <p>One 3oz serving contains 320 calories</p>				<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count8" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count8 = count8 + 320">
            Enter
   </button>
        </div>

 </div>

 <div class ="item item-avatar">
   <img src = "img/pizza.jpg">
   <h2>Pizza</h2>
   <p>One 14 inch pizza contains 2719 calories</p>			<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count9" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count9 = count9 + 2719">
            Enter
   </button>
        </div>

  </div>

 <div class ="item item-avatar">
   <img src = "img/spinach.jpg">
   <h2>Spinach</h2>
   <p>One serving contains 23 calories</p>				<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count10" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count10 = count10 + 23">
            Enter
   </button>
        </div>

 </div>

 <div class ="item item-avatar">
   <img src = "img/strawberries.jpg">
   <h2> Strawberries</h2>
   <p>Each strawberry contains 2 calories</p>				<!--items contained within div:label,image,button and count number-->
	 <div class="list list-inset">
          <label class="item item-input">
            <input type="number" ng-model="count11" />
          </label>
   <button class="button button-block button-dark ion-arrow-up-a" align-title="left" ng-click="count11 = count11 + 2">
            Enter
   </button>
        </div>

 <br> 
 <br>
 </div>


  </div>
	<label class="item item-input">
            <input type="number" ng-model="count" />
          </label>

      </ion-content>
<div class="bar bar-footer bar-royal">
</div>
    </ion-pane>
  </body>
</html>
